name: "Release"
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'
jobs:
  release:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v30
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - run: nix build
    - uses: actions/upload-artifact@v4
      with:
        name: skeen-osk
        path: result/skeen.osk
